header {
	text-align: center;
	word-spacing: 90px;
	width: 1350px;
	height: 50px;
	background-color: silver;
}

header a {
	font-size: 20px;
	margin: 0 35px;
	text-decoration: none;
}

header a.active {
	text-decoration: underline;
}

main {
	height: 550px;
	width: 1205px;
}

footer {
	text-align: center;
}


		<div class="nav-menu">
			<ul class="menu">
				<li class="nav-item"><a href="fructs.php" class="nav-link">Фрукты</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Овощи</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Мясо</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Морепродукты</a></li>
			</ul>
		</div>